<?xml version="1.0"?>
<!--
/**
 * Copyright © Icreative Technologies. All rights reserved.
 *
 * @author : Icreative Technologies
 * @package : Ict_Orderdelete
 * @copyright : Copyright © Icreative Technologies (https://www.icreativetechnologies.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="ict" translate="label" sortOrder="1">
            <label>Ict Extension</label>
        </tab>
        <section id="orderdelete" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order Delete</label>
            <tab>ict</tab>
            <resource>Ict_Orderdelete::config_orderdelete</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Order Delete</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
